* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: white; */
}

body {
    background-color: #313131;
    color: white;
}

#main {
    border: #414141;
    margin: 3%;
    padding: 1%;
    border-radius: 5%;
    background-color: #414141;
}


/* Skip to main content  */
#skip {
    position: absolute;
    background-color: #313131;
    color: white;
    padding: 10px;
    left: -10000px;
}

#skip:focus {
    box-sizing: border-box;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
    animation-name: skipping;
    animation-duration: 1s;
}

@keyframes skipping {
    0% {
        top: -100px
    }

    100% {
        left: 50%;
        transform: translate(-50%);
        top: 10px;
    }
}
/* Skip to main content  */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    margin: 0px;
    background-color: #414141;
}

.page_name {
    font-size: larger;
    color: white;
}

/* Nav bar opener */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0px;
}

@keyframes clicked {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes un_clicked {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* Nav bar opener */

/* Making the dropdown work */
.nav_open {
    position: relative;
    display: inline-block;
}

.nav_open a.active {
    text-decoration: underline;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: #525252;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border: #525252;
    border-radius: 5% 5% 5% 5%;
}

.dropdown li {
    padding: 5px;
}

.nav_open:hover .dropdown {
    display: block;
}

/* Darkmode switch  */
label {
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0,4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: 1%;
}

label:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

input:checked + label {
    background: #242424;
}

input:checked +label:after {
    left: 49px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}


/* Navbar */

/* Name */
.my_name {
    font-size: larger;
    text-align: center;
    padding: 20px;
    /* color: white; */
}

/* Picture of me */
#me {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #36454f;
    border-radius: 25% 75% 25% 75% / 75% 25% 75% 25%;
}

/* About Me */
h2 {
    font-size: larger;
    text-align: center;
    padding: 4% 4% 0px 4%;
}

.about {
    text-align: center;
    margin: 3%;
    padding: 1%;
    border: #525252;
    border-radius: 5%;
    background-color: #525252;
}

/* Footer navigation */
.footer {
    margin-top: 1%;
    padding: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    background-color: #414141;
}

.footer_nav {
    display: block;
    text-align: center;
    /* border: 5px solid black; */
    margin-top: auto;
    margin-bottom: auto;
    /* padding-top: 9px; */
}

.footer_nav * {
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

.footer_social {
    text-align: center;
    /* border: 5px solid black; */
    margin-top: auto;
    margin-bottom: auto;
    /* border: 5px solid black; */
    padding: 5px;
}

.footer_social a {
    margin: 5px;
}
/* Footer navigation */

@media (prefers-reduced-motion) {
    #skip:focus {
        animation: none;
        opacity: 1;
    }
}


/* Project Page */

.project {
    background-color: #525252;   
    margin: 3%;
    padding: 1%;
    border: #525252;
    border-radius: 5%;
    align-items: center;
}

.project_stubs {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;
}

.project * {
    padding: 1%;
}

.project_stubs * {
    padding: 2%;
}

.project_name {
    grid-column: 1;
    text-align: left;
    font-size: larger;
}

.project_lang {
    grid-column: 1;
}

.project_lang_list {
    grid-column: 1;
    grid-row: 3;
    padding-left: 20px;
}

.project_about {
    grid-column: 1;
    grid-row: 4;
}

.project_date {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.project_status {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
}

.project_link {
    grid-column: 2;
    grid-row: 3;
    text-decoration: underline;
    text-align: right;
}

.project_type {
    grid-column: 2;
    grid-row: 4;
    text-align: right;
}

.project_text a {
    text-decoration: underline;
}

/* Fun page */

.fun {
    background-color: #525252;
    margin: 3%;
    padding: 1%;
    border: #525252;
    border-radius: 5%;
    align-items: center;
}

.fun * {
    padding: 1%;
}

.fun_explore {
    text-decoration: underline;
    text-align: center;
}